<!--
This file is part of Shuffle My Dining Deck.

Shuffle My Dining Deck is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Shuffle My Dining Deck is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.

Author: Travis Patterson (masslessparticle@gmail.com)
-->

{% extends 'diningdeck/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'diningdeck/js/select2/select2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'diningdeck/css/index_css.css' %}"/>
{% endblock  %}

{% block content %}

    <div class="container">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="page-header">
            <h1>Shuffle my Dining Deck: <small>your next dining adventure in Denver</small></h1>


            {% if name != None %}
                <h3>Hello {{ name }}, Where will you be eating today?</h3>
            {% else %}
                <h3>Where will you be eating today?</h3>
            {% endif %}
        </div>
        <div class="row">
            <form id="stuff-select" class="form-inline" role="form">
                {% csrf_token %}

                <select id="price-select" name="price-select" class="col-md-2 col-xs-12">
                    <option></option>
                    <option value="1">$</option>
                    <option value="2">$$</option>
                    <option value="3">$$$</option>
                    <option value="4">$$$$</option>
                </select>

                <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>

                <select id="hood-select" name="hood-select" class="col-md-2 col-xs-12">
                    <option></option>
                    <option value="Ballpark">Ballpark</option>
                    <option value="Broadway">Broadway</option>
                    <option value="Capitol Hill">Capitol Hill</option>
                    <option value="Cherry Creek">Cherry Creek</option>
                    <option value="City Park">City Park</option>
                    <option value="Congress Park">Congress Park</option>
                    <option value="Denver Metro Area">Denver Metro Area</option>
                    <option value="Downtown/LoDo">Downtown/LoDo</option>
                    <option value="Highlands">Highlands</option>
                    <option value="Jefferson Park">Jefferson Park</option>
                    <option value="LoDo">LoDo</option>
                    <option value="Park Hill">Park Hill</option>
                    <option value="Governor's Park">Governor&#8217;s Park</option>
                    <option value="Platte Park">Platte Park</option>
                    <option value="South">South</option>
                    <option value="Sunnyside">Sunnyside</option>
                    <option value="Uptown">Uptown</option>
                    <option value="Washington Park">Washington Park</option>
                    <option value="West Denver">West Denver</option>
                </select>

                <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
            </form>
            <button id="show-things" class="btn btn-success col-md-2 col-xs-12">Find Restaurants!</button>
        </div>

        <hr>
        <div id="restaurant-display">
            <h2> Suggestions: </h2>

            <div id="suggestion-display" class="row">



            </div>
        </div>
    </div>

    <!-- /.container -->
{% endblock %}

{% block scripts %}
<script src="{% static 'diningdeck/js/select2/select2.min.js' %}"></script>
<script src="{% static 'diningdeck/js/index.js' %}"></script>
{% endblock %}