{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shuffle My Dining Deck</title>

    <link rel="stylesheet" type="text/css" href="{% static 'diningdeck/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'diningdeck/css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'diningdeck/css/index_css.css' %}" />

</head>
<body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Shuffle My Dining Deck</a>
        </div>
        <div class="navbar-collapse collapse" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Register</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Email"></input>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="Password"></input>
            </div>
            <button class="btn btn-success" type="submit">
              Sign in
            </button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>I'm Hungry!!</h1>
        <p>Do you have a Denver Dining Deck? (If not, purchase one <a href="">here</a> they're great!)</p>
        <p>Can't decide where to eat?</p>
        <p>If so, use this application to shuffle your dining deck and decide what you cullinary adventure will be!</p>
      </div>



      <div class="page-header">
        <h1>Filters</h1>
      </div>
      <p>
        <button type="button" class="btn btn-lg btn-success">Find Restaurants!</button>
      </p>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'diningdeck/js/bootstrap.min.js' %}"></script>
  </body>
</html>